/* 
    Document   : controlStyle2
*/

.label{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-size: 100pt;
	-fx-font-family: "Times New Roman";
}

.label2{
	-fx-text-fill: rgb(0, 0, 0);
	-fx-font-size: 100pt;
	-fx-font-family: "Times New Roman";
}